
<!-- Button trigger modal -->
<div type="button" class="btn btn-succes" data-bs-toggle="modal" data-bs-target="#<%= dom_id(team) %>">
  <i class="fa-solid fa-pen-to-square" style="color: #738ce7;"></i>
</div>
