<%# Edit Modal  %>

<!-- Button trigger modal -->
<a class="stretched-link mx-3" data-bs-toggle="modal" data-bs-target="#<%= dom_id(league) %>">
  <i class="fa-solid fa-pen-to-square" style="color: #738ce7;"></i>
</a>
