<div class="card text-bg-danger mb-3" class="custom-card" style="width: 18rem; height: 12rem;">
  <div class="card-body row text-center h-100" >
    <h5 class="card-title align-items-center d-flex justify-content-center">Generate Fixtures</h5>
    <p class="card-text align-items-center d-flex justify-content-center"><i class="fa-solid fa-plus fa-2xl" style="color: #000000;"></i></p>
    <a href="#" class="stretched-link"></a>
  </div>
</div>
