<h3>Pending registrations:</h3>
  <ul>
  <% teams.each do |team| %>
    <% if team.accepted != true %>
      <li><%= team.name %></li>
    <% end %>
    </ul>
  <% end %>

<h3>Approved teams:</h3>
 <ul>
  <% teams.each do |team| %>
    <% if team.accepted == true %>
      <li><%= team.name %></li>
    <% end %>
    </ul>
  <% end %>
