<div data-controller="toggle">
  <%# Table body goes here %>
  <h1>Table goes here</h1>

  <%# Button to register for league %>
  <% if user_signed_in? %>
    <% if !user.teams.empty? && current_user != league.user %>
      <div style="text-align: center col-5">
        <%# Link to form which selects which team to register %>
        <button type="button" class="btn btn-primary" data-action="click->toggle#fire" data-toggle-target="toggleButton">
          Register for this league
        </button>
      </div>
    <% end %>
  <% end %>
  <div class="team-register-form col-5 d-none" data-toggle-target="togglableElement">
    <h4>Which team would you like to register for <%= league.name %>?</h4>
    <p>Your request will be sent to the league organiser to approve</p>
    <%= simple_form_for [league, league_teams_join], url: league_league_teams_join_index_path(league) do |f|%>
      <div class="mb-3 form-control">
        <%= f.association :team, collection: user.teams %>
      </div>
      <div class="mb-3 btn-primary text-center">
      <%= f.submit 'Submit registration request', class: "btn btn-default btn-primary"%>
      </div>
    <% end %>
  </div>

</div>
