<div class="nav-side">
  <%# LOGO GOES HERE %>
  <img src="../../assets/images/LEAGUE(1).png" style="width: 100px" alt="">
  <h3>Logo goes here</h3>
  <%# LIST OPTIONS START HERE %>
  <div class="d-flex align-items-start justify-content-center">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <%# RENDERS LEAGUE/ORGANISER VIEW %>
      <%= render "shared/sidebar_options/user_league" %>
    <%# THE BELOW COULD BE USED TO DETERMINE THE USER %>
      <%# <% if league.user == current_user %>
        <%#<%= render "shared/sidebar_options/organiser_league" %>
      <%#<% else %>
        <%#<%= render "shared/sidebar_options/organiser_league" %>
      <%#<% end %>
      <%= render "shared/sidebar_options/all_user_options" %>
    </div>
  </div>
</div>
