<div>
  <! -- hero section -->
  <div class = "banner" >
    <div class = " container banner-content text-center">
      <h1> Shaping The Future of Womens's And Non-Binary Football League Management</h1>
      <h3> Creating unforgettable football league experience for all </h3>
      <%= link_to "create your league", new_user_session_path, class: "btn btn-flat btn-primary" %>
    </div>
  </div>
  <! -- highlights/key metic  -->
  <div>
    <h5> 75,00+ leagues organisers </h5>
    <h5> 150,00+ registered players </h5>
    <h5> 450,00+ games organised </h5>
  </div>
  <! -- Second highlights with league logos -->
  <div>
    <h4>Trusted by </h4>
    <img>
    <img>
    <img>
  </div>
  <! -- How it works -->
  <div>
    <h4> How it works </h4>
    <div>
      <p> Sign up & set up league</p>
    </div>
    <div>
      <p> Build your leagues and team</p>
    </div>
    <div>
      <p> Streamline meatches and engage fans</p>
    </div>
  </div>
  <! -- Mid sections -->
  <div>
    <div>
      <h4>This is a heading</h4>
      <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
      <%= link_to "create your league", new_user_session_path, class: "btn btn-flat btn-primary" %>
    </div>
    <img>
  </div>
  <div>
      <h4>This is a heading</h4>
      <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
      <%= link_to "create your league", new_user_session_path, class: "btn btn-flat btn-primary" %>
    </div>
    <img>
  </div>
  <div>
      <h4>This is a heading</h4>
      <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
      <%= link_to "create your league", new_user_session_path, class: "btn btn-flat btn-primary" %>
    </div>
    <img>
  </div>

  <! -- Mid sections -->
  <div>
    <div>
      <p>Testimonials</p>
      <h4> Read what others have to say </h4>
    </div>
    <div>
      <p> Sarina Wiegman </p>
      <p> lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem </p>
    </div>
    <div>
      <p> Lucy Bronze </p>
      <p> lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem </p>
    </div>
    <div>
      <p> Mary Earps </p>
      <p> lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem </p>
    </div>
  </div>
</div>
