<div>
  <! -- hero section -->
  <div class = "banner" >
    <div class = " container banner-content text-center">
      <h1> Shaping The Future of Womens's And Non-Binary Football League Management</h1>
      <h3> Creating unforgettable football league experience for all </h3>
      <%= link_to "your league", new_user_session_path, class: "btn btn-flat"  %>
    </div>
  </div>

</div>
