<div>
  <! -- hero section -->
  <div class = "banner" >
    <div class = " container banner-content text-center">
      <h1> Shaping The Future of Womens's And Non-Binary Football League Management</h1>
      <h3> Creating unforgettable football league experience for all </h3>
      <%= link_to "your league", new_user_session_path, class: "btn btn-flat"  %>
    </div>
  </div>
 <! -- highlights/key metic  -->
  <div>
    <p> 75,00+ leagues organisers <p>
    <p> 150,00+ registered players </p>
    <p> 450,00+ games organised </p>
  </div>

  <! -- Second highlights with league logos -->
  <div>
    <p>Trusted by <p>
    <img>
    <img>
    <img>
  </div>

  <! -- How it works -->
  <div>
    <h5> How it works </h5>
    <div>
      <p> Sign up & set up league</p>
    </div>
    <div>
      <p> Build your leagues and team</p>
    </div>
    <div>
      <p> Streamline meatches and engage fans</p>
    </div>
  </div>

</div>
