.banner-content{
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}


.banner h1 {
  color: white;
  font-weight: 1000;
}

.banner h3 {
  color: white;
  font-weight: 600;
}
