
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #D8E37D;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #D8D1F2;
  border-radius: 4px;
  color: white;
}
