
.btn-main {
  color: white;
  padding: 8px 24px;
  background: #D8E37D;
  border-radius: 28px;
  transition: background 0.3s ease;
}

.btn-main:hover {
  background: #D8D1F2;
  border-color: #D8D1F2;
  color: white;
}


// ------------------------------

.edit-fixture-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.edit-fixture-input {
  background-image: none !important;
  padding: 8px 0px 8px 16px !important;
  width: 58px;
  font-size: 18px;
  height: 54px;
}

.fixture-score {
  cursor: pointer;
}

.fixture-modal {
  max-width: 780px !important;
}
