
.btn-main {
  color: white;
  padding: 8px 24px;
  background: #D8E37D;
  border-radius: 28px;
  transition: background 0.3s ease;
}

.btn-main:hover {
  background: #D8D1F2;
  border-color: #D8D1F2;
  color: white;
}
