.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0;
  width: 600px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-side {
  grid-template-columns: 1fr;
  width: 215px;
  height: 100vh;
  top: 0;
  left: 0;
  flex-shrink: 0;
  background-color: #D8D1F24D;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: aqua;
}
