.navbar-lewagon {
  justify-content: space-between;
  background: white;
  left: 215px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-side {
  width: 215px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  background-color: #D8D1F24D;
}
