.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-side {
  grid-template-columns: 1fr;
  width: 215px;
  height: 100vh;
  top: 0;
  left: 0;
  flex-shrink: 0;
  background-color: #D8D1F24D;
  font-family: Outfit;
  position: sticky;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #738ce7;
}

.nav-link {
  color: #738ce7;
}

.nav-link:hover {
  color: #162d80;
}

.nav-link.all-users {
  color: #646464;
}

.nav-link.all-users:hover {
  color: #2f2f2f;
}

#league-name {
  background-color: $light-green;
  color: black
}

.form-inline {
  display: block;
  margin: 0 auto;
}

.form-control::placeholder {
  opacity: 0.5;
  font-size: 13.5px;
}
