<button class="nav-link all-users" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
<button class="nav-link all-users" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
<button class="nav-link all-users" id="v-pills-log-out-tab" data-bs-toggle="pill" data-bs-target="#v-pills-log-out" type="button" role="tab" aria-controls="v-pills-log-out" aria-selected="false">Log out</button>
