<button class="nav-link active" id="v-pills-table-team-overview" data-bs-toggle="pill" data-bs-target="#v-pills-team-overview" type="button" role="tab" aria-controls="v-pills-team-overview" aria-selected="true">Team Overview</button>
<button class="nav-link" id="v-pills-players-tab" data-bs-toggle="pill" data-bs-target="#v-pills-players" type="button" role="tab" aria-controls="v-pills-players" aria-selected="false">Players</button>
<button class="nav-link" id="v-pills-payments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-payments" type="button" role="tab" aria-controls="v-pills-payments" aria-selected="false">Payments</button>
<button class="nav-link" id="v-pills-fixtures-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fixtures" type="button" role="tab" aria-controls="v-pills-fixtures" aria-selected="false">Fixtures</button>
<button class="nav-link" id="v-pills-leagues-tab" data-bs-toggle="pill" data-bs-target="#v-pills-leagues" type="button" role="tab" aria-controls="v-pills-leagues" aria-selected="false">Leagues</button>
<button class="nav-link" id="v-pills-statistics-tab" data-bs-toggle="pill" data-bs-target="#v-pills-statistics" type="button" role="tab" aria-controls="v-pills-statistics" aria-selected="false">Statistics</button>
<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
<button class="nav-link" id="v-pills-registrations-tab" data-bs-toggle="pill" data-bs-target="#v-pills-registrations" type="button" role="tab" aria-controls="v-pills-registrations" aria-selected="false">Registrations</button>
